.react-datepicker-popper {
  left: -30px !important;
}

.react-datepicker-wrapper {
  border: 1px solid #ccc !important;
}

.react-datepicker__input-container input {
  outline: none;
}

#timeInput {
  margin-top: 2px;
  border: 1px solid #ccc !important;
  padding: 0px 5px;
}

label {
  white-space: nowrap;
}

input {
  padding-left: 10px;
}

.multiSelectContainer input {
  margin-top: 0 !important;
}

.optionContainer {
  scrollbar-width: none;
}